.user-container {
  background-color: #fff;
  padding: 20px 16px;
  max-width: 336px;
}
.sticky {
  position: sticky;
  top: 24px;
}
.button-container {
  background-color: rgba(211, 211, 211, 0.63);
  padding: 8px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.button-container button {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 37px;
  font-weight: 700;
  color: #5a5a5a;
}
.button-container button:hover,
.button-container button:focus {
  background-color: #49c5b6;
  color: #fff;
}
@media screen and (max-width: 470px) {
  .user-container {
    margin-top: 18px;
    max-width: 100%;
    padding: 30px;
  }
}
