.app {
  font-family: "Poppins", sans-serif;
  background-color: #f4f7f6;
}

/* white: #FFF
gray: #f4f7f6
heading: #17191C
text: #5A5A5A
button: #49c5b6
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
 */
